body {
   font-family: 'Lato', sans-serif;
   background-image: url("../images/drone-pizza-delivery.jpg");
   background-size: cover;
   background-attachment: fixed;
}

header, main, aside {
   border: 3px solid #fff;
   border-radius: 15px;
   box-shadow: 5px 3px 10px rgba(0,0,0,0.7);
}

main, aside {
   background-color: #4b6fbb;
   padding-bottom: 10px;
}

h1, h2, h3, h4 {
   font-family: 'Sigmar One', cursive;
}

#create {
   margin-top: 30px;
   font-size: 40px;
   color: red;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

h3 {
   color: wheat;
   text-shadow: 2px 1px 3px rgba(0,0,0,0.6);
}

p {
   font-size: 16px;
}

hr {
   width: 90%;
}

/* ================================  HEADER  ================================ */
header {
   background: url("../images/pizzatron.jpg") no-repeat center bottom;
   background-size: cover;
   margin-top: 30px;
}

header h1 {
   font-size: 48px;
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
header #head2 {
   color: #4B6FBB;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
h5 {
   font-size: 18px;
   line-height: 22px;
   letter-spacing: .12em;
   background-color: rgba(0,0,0,0.6);
   color: #fff;
   border-radius: 6px;
}


/* =================================  MAIN  ================================= */
main {
   padding-top: 5px;
}

.baseP {
   padding: 0 10px;
}

.radio-inline, .checkbox-inline {
   font-size: 18px;
   color: #fff;
}

.btn {
   background-color: red;
   color: #fff;
   border: none;
}

.btn:focus {
   outline-color: grey;
}

.btn:hover, .btn:active, .btn:focus {
   background-color: #fff;
   color: red;
   border: none;
}

#addToOrder {
   margin-right: 10px;
}

/* ================================  ASIDE  ================================= */
.table-condensed {
   font-size: 14px;
   color: #fff;
}

.pizzaItem {
   font-size: 18px;
   font-weight: bold;
   text-shadow: 1px .5px 2px rgba(0,0,0,0.6);
}

.table-condensed>tbody>.itemChoices>td {
   padding: 1px 5px;
   font-size: 13px;
}

/*
i {
   cursor: pointer;
}
*/

.payment {
   font-size: 14px;
   color: #fff;
}

.note {
   font-size: 13px;
   margin-top: 10px;
}

aside button {
   margin-right: 15px;
}


/* ================================  FOOTER  ================================= */
footer {
   margin-top: 30px;
   height: 65px;
   background-color: rgba(0,0,0,0.4);
   color: #fff;
}

footer p {
   font-size: 12px;
   margin-top: 20px;
}


/* ================================  MEDIA  ================================= */
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
   header h1 {
      font-size: 30px;
   }

   #create {
      font-size: 24px;
   }

   h3 {
      font-size: 15px;
   }

   aside {
      margin-top: 30px;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   header h1 {
      font-size: 36px;
   }

   #create {
      font-size: 32px;
   }

   h3 {
      font-size: 18px;
   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   header h1 {
      font-size: 48px;
   }

   h3 {
      font-size: 24px;
   }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   header h1 {
      font-size: 58px;
   }

   #create {
      font-size: 36px;
   }

   h3 {
      font-size: 28px;
   }

   p {
      font-size: 18px;
   }
}
