body {
	background-color: lightgrey;
	margin-bottom: 40px;
}

h1 {
	color: red;
	text-shadow: 2px 1px 4px rgba(0,0,0,0.8);
}

.jumbotron {
	margin: 40px auto;
	background-image: url(https://www.minnpost.com/sites/default/files/imagecache/article_detail/images/articles/TrumpManchester640_1_0.jpg);
	background-size: cover;
	background-position: center center;
	min-height: 600px;
	position: relative;
}

blockquote {
	background-color: rgba(225,225,225,0.7);
	position: absolute;
	bottom: 80px;
	left: 50px;
	right: 50px;
}

#quoteDisplay {
	color: #fff;
	font-size: 28px;
	font-weight: bolder;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
}

.author {
	color: #fff;
	font-size: 20px;
	text-shadow: 1px .5px 3px rgba(0,0,0,0.6);
}

.btn, .btn:focus {
	padding: 10px 20px;
	background-color: red;
	color: #fff;
	border: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.btn:hover {
	background-color: #fff;
	color: red;
	font-weight: bold;
}

#footer {
	background-color: #000;
	position:fixed;
   height:40px;
   background-color: #000;
   bottom:0px;
   left:0px;
   right:0px;
   margin-bottom:0px;
}

#footer p {
	padding-top: 10px;
	color: grey;
}

/* ============== MEDIA QUERIES ================ */
@media (max-width: 1199px) {
	h1 {
		font-size: 32px;
	}

	.jumbotron {
		margin-top: 20px;
		min-height: 500px;
	}

	blockquote {
		margin-top: 20px;
		bottom: 60px;
	}

	#quoteDisplay {
		font-size: 26px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
	h1 {
		font-size: 28px;
	}

	.jumbotron {
		margin-top: 10px;
		min-height: 450px;
	}

	#quoteDisplay {
		font-size: 20px;
	}

	.author {
		font-size: 16px;
	}
}

/* Extra small devices (phones, up to 480px) */
@media (max-width: 480px) {
	h1 {
		font-size: 22px; }

	.jumbotron {
		margin-top: 10px;
		min-height: 350px;
	}

	blockquote {
		margin: 20px auto;
		position: static;
	}

	#quoteDisplay {
		font-size: 18px;
	}

	.author {
		font-size: 14px;
	}

	.btn, .btn:hover, .btn:focus {
		bottom: 8px;
		right: 15px;
	}
}
